<div class="nav-link">
    <a [routerLink]="['/xss']" routerLinkActive="router-link-active" >xss</a> | 
    <a [routerLink]="['/dom']" routerLinkActive="router-link-active" >dom</a> | 
    <a [routerLink]="['/dom-avoid']" routerLinkActive="router-link-active" >dom-avoid</a> | 
    <a [routerLink]="['/sanitization-disable']" routerLinkActive="router-link-active" >sanitization disabled</a> | 
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >login</a> | 
    <a [routerLink]="['/sensitive-data']" routerLinkActive="router-link-active" >sensitive data</a>
</div>

<router-outlet></router-outlet>